name: Build and Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout the repo
      - uses: actions/checkout@v3

      # 2. Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

      # 3. Login to ECR
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      # 4. Build and Push Backend
      - name: Build and Push Backend
        run: |
          cd backend
          docker build -t backend:latest .
          docker tag backend:latest 012473847386.dkr.ecr.ap-southeast-2.amazonaws.com/aws-community-backend:latest
          docker push 012473847386.dkr.ecr.ap-southeast-2.amazonaws.com/aws-community-backend:latest

      # 5. Build and Push Frontend
      - name: Build and Push Frontend
        run: |
          cd frontend
          docker build -t frontend:latest .
          docker tag frontend:latest 012473847386.dkr.ecr.ap-southeast-2.amazonaws.com/aws-community-frontend:latest
          docker push 012473847386.dkr.ecr.ap-southeast-2.amazonaws.com/aws-community-frontend:latest

      # 6. Deploy to ECS
      - name: Deploy to ECS
        run: |
          aws ecs update-service \
            --cluster aws-community-cluster \
            --service aws-community-service \
            --force-new-deployment \
            --region ap-southeast-2
